*.o
.deps/
.libs/
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
libklsmpte2064.la
src/libklsmpte2064_la-*.lo
doxygen/html
tools/klsmpte2064_util

